.add-review {
    display: flex;
}

.add-review form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border: 1px black solid;
    border-radius: 5%;
    padding: 0.5rem;
    align-items: flex-start;
    max-height: fit-content;
    gap: 0.15rem;
}

.add-review form button {
    max-width: max-content;
    align-self: center;
}