.app-header {
    background-color: black;
    color: var(--clr1);
    padding-block: .75em;

}

.app-header section:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.app-header .app-nav {
    display: flex;
    gap: 15px;
}

.app-header h1 {
    font-family: "Annie Use Your Telescope", serif;
    font-size: 3rem;
}

.active {
    color: green;
}