.book-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

.book-list .add-book-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: var(--gray1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.book-list .add-book-btn {
    position: relative;
    border: 1px rgba(0, 0, 0, 0.37) solid;
    border-radius: 5%;
    overflow: hidden;
    transition: 0.3s;
}

.book-list .add-book-btn:hover {
    transform: scale(1.07);
}

@media only screen and (max-width: 525px) {
    .book-list {
        grid-template-columns: repeat(auto-fill, 300px);
    }

    .book-list .remove-btn {
        font-size: 1.25rem;
    }
}