.book-preview {
    position: relative;
    cursor: pointer;
    transition: ease 0.3s;
}

.book-preview img {
    border-radius: 5%;
}

.book-preview:hover {
    transform: scale(1.07);
}

.book-preview:hover .info {
    opacity: 1;
}

.book-preview .info {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s;
    border-radius: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.767);
    height: 100%;
    width: 100%;
    padding: 1rem;
    /* max-width: 300px; */
}

.book-preview .price {
    font-size: 1.5rem;
}

.book-preview .on-sale {
    position: absolute;
    top: 0.5rem;
    left: calc(100% - 0.5rem);
    background-color: yellow;
    color: black;
    border-radius: 10%;
    padding: 0.15rem 0.35rem;
    transform: translateX(-100%);
    width: max-content;
    font-size: 1rem;
}

.book-preview h3 {
    padding-inline-end: 3.25rem;
    margin-top: 0.1rem;
    margin-bottom: 0;
    transform: translateY(-25%);
}

.book-preview h5 {
    font-size: 0.9rem;
}

.yellow {
    color: yellow;
}

.book-preview .remove-btn {
    transform: translateY(-25%);
    padding: 0.2rem 0.4rem;
    margin: 0;
    max-width: max-content;
    font-size: 0.7rem;
    transition: ease 0.5s;
    color: white;
    background-color: var(--gray2);
}

.book-preview .remove-btn:hover {
    transform: scale(1.2);
    background-color: red;
}

.book-preview .edit-btn {
    max-width: max-content;
    align-self: flex-end;
}


@media only screen and (max-width: 525px) {
    .book-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        justify-content: center;
    }

    .book-preview:hover {
        transform: scale(1.05);
    }

    .book-preview h3 {
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .book-preview h5 {
        font-size: 1.2rem;
    }

    .book-preview .price {
        margin-top: 0.2rem;
        font-size: 2rem;
    }

    .book-preview .on-sale {
        position: absolute;
        top: 0.5rem;
        left: calc(100% - 0.5rem);
        transform: translateX(-100%);
        font-size: 1.5rem;
    }

    .book-preview .remove-btn {
        font-size: 1rem;
    }


}