.book-preview {
    position: relative;
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: ease;
}

.book-preview img {
    border-radius: 5%;
}

.book-preview:hover {
    transform: scale(1.1);
}

.book-preview:hover .info {
    opacity: 1;
}

.book-preview .info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s;
    border-radius: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.767);
    height: 100%;
    width: 100%;
    padding: 1rem;
    /* max-width: 300px; */
}

.book-preview .price {
    font-size: 1.5rem;
}

.book-preview .on-sale {
    position: absolute;
    top: 0.5rem;
    left: calc(100% - 0.5rem);
    background-color: yellow;
    color: black;
    border-radius: 10%;
    padding: 0.15rem 0.35rem;
    transform: translateX(-100%);
    width: max-content;
    font-size: 1rem;
}

.book-preview h3 {
    padding-inline-end: 3.25rem;
}

.yellow {
    color: yellow;
}

@media only screen and (max-width: 525px) {
    .book-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        justify-content: center;
    }

    .book-preview:hover {
        transform: scale(1.05);
    }
}