.user-msg {
    display: flex;
    background-color: lightgray;
    padding: .5em 1em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
}

.user-msg.success {
    background-color: var(--clr1);
}

.user-msg.error {
    background-color: var(--clr2);
}


.user-msg button {
    margin: 1em;
}