.book-edit {
    justify-self: center;
}

.book-edit h1 {
    font-size: 2.8rem;
    text-align: center;
    padding: 2.5rem;
}

.book-edit form {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    font-size: 1.5rem;
    width: 50vw;
    justify-content: start;
    padding: 2.5rem;
    gap: 1rem;
    border: 1px rgba(0, 0, 0, 0.438) solid;
    border-radius: 25px;
    justify-self: center;
    background-color: var(--gray1);
}

.book-edit form input {
    height: 2rem;
    max-width: 320px;
}

.book-edit form label {
    font-size: 1rem;
    max-width: 320px;

}

.book-edit textarea {
    height: 5rem;
    max-width: 320px;
}

.book-edit form button {
    height: 2rem;
    grid-column: 1/-1;
}

@media (max-width: 912px) {
    .book-edit form {
        grid-template-columns: 1fr;
    }
}