.book-details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2rem;
    align-items: top;
    justify-content: center;
}

.book-details .details-section {
    flex: 0 1 500px;
}

.book-details .img-categories-section {
    flex: 0 0 350px;
}

.book-details .categories-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.book-details .back-btn {
    max-width: max-content;
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.book-details .more-details {
    margin-top: 2rem;
    font-weight: bold;
}

.book-details .img-wrapper {
    position: relative;
}

.book-details h1 {
    font-size: 3rem;
    color: var(--clr1);
}

.book-details h2 {
    color: var(--clr2);
    margin-bottom: 2rem;
}

.book-details img {
    border-radius: 1rem;
    max-height: 460px;
}

.book-details .category {
    border: 1px black solid;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
}



.book-details .price {
    margin: 0;
    background-color: black;
    max-width: max-content;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0.35rem 0.5rem;
    color: white;
}

.book-details .on-sale {
    position: absolute;
    top: .5rem;
    left: .5rem;
    background-color: yellow;
    color: black;
    border-radius: 50rem;
    padding: 0.15rem 0.35rem;
    width: max-content;
    font-size: 1.5rem;

}

.book-details .nav-btn-wrapper {
    gap: 1rem
}